<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Vue JS Playground</title>
</head>
<body>
    <div id="mon-app">
        <h1>Vue JS Cours</h1>
        <p>{{ txt }}</p>
        <h2>Compteur : {{ compteur }}</h2>
        <button v-on:click="augmente">+</button>
        <button v-on:click="baisse">-</button>
        <p>{{ presentation() }}</p>
        <img v-bind:src="URLImg"><br>
        <a v-bind:href="URLVueJs">Mon site web</a>
        <hr>
        <p>{{ canvas }}</p>
        <canvas v-on:mousemove="coords"></canvas>
        <p>{{ x }} / {{ y }}</p>
        <button v-on:click="foo" class="success">Virus</button><br><br>
        <p>Entre ton nom</p>
        <input type="text" v-on:keyup.enter="inFunc">
        <p>Ici sera écrit ton prénom</p>
        <input type="text" v-model="valeur">
        <p v-html="htmlBrut">{{ htmlBrut }}</p>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#mon-app',
            data: {
                txt: 'Hello world',
                nb : 36,
                URLVueJs : 'https://albert-nicolas.fr',
                URLImg : 'https://gitlab.com/uploads/-/system/user/avatar/2457996/avatar.png?width=400',
                compteur : 0,
                x: 0,
                y: 0,
                canvas : 'Test offset x et y',
                valeur : "",
                htmlBrut: '<p>Mon html</p>'
            },
            methods: {
                inFunc: function(e){
                    this.valeur = e.target.value;
                    console.log(this.valeur);
                },
                foo: function(){
                    alert("Alerte dangeureuse d'un virus extraterrestre");
                },
                presentation: function(){
                    return 'Bonjour je suis Nicolas Albert' + ' ' + "j'ai" + ' ' + this.nb + ' ' + 'ans'
                },
                augmente: function(){
                    this.compteur++;
                },
                baisse: function(){
                    this.compteur--;
                },
                coords : function(e){
                    console.log(e);
                    this.x = e.offsetX;
                    this.y = e.offsetY;
                }
            },
        });
    </script>
</body>
</html>